
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
}
.drink-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
.drink {
	list-style-type: none;
	padding: 0;
	justify-content: space-around;
	background-color: white;
	border-radius: 1em;
}

.main-buttons {
	display: inline-block;
	position: relative;
	justify-content: space-between;
}

.drink-name {
	font-size: 1.25em;
	background-color: rgb(170, 249, 255);
	padding: 1em;
	border-radius: 0.5em;
}

.info {
	padding-left: 4em;
}
.sub-heading {
	padding-left: 2em;
}

#app {
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
}
.form-inline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-group {
	display: block;
	margin: 0 auto;
	padding: 0;
}
/* .form-group {
	display: inline-block;
	padding-left: 10em;
	justify-content: space-between;
	
} */
#drinks-ready-to-make {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	float: left;
	margin: auto;
}
#drinks-matched_ingredients {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	float: right;
	margin: auto;
}
footer {
	bottom: 0;
	text-align: center;
	padding: 1em;
	font-size: 0.9em;
}
