
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

footer {
	bottom: 0;
	text-align: center;
	padding: 1em;
	font-size: 0.9em;
}

#concocto-title {
	font-size: 2em;
	font-weight: bold;
	/* text-align: center; */	
}

/* button {
	padding: 10px 15px;
	background-color: #007BFF;
	color: white;
	border: none;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	cursor: pointer;
} */
/* -------------------- index.html -------------------- */
#app {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 80vh;
	width: 100%;
}
label {
	text-align: center;
	flex: 1;
}
.form-inline {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
}
.form-group {
	display: inline;
}
.alcohols, .mixers, .garnishes {
	display: grid;
	grid-template-columns: 60px 60px;
	grid-auto-rows: 40px;
	grid-gap: 15px;
}

.grid-container {
	/* display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center; */
	display: flex;
	position: relative;	
}
.sub-heading {
	text-align: center;
}
.column {	
	padding: 2em;
}
.btns {
	/* display: flex;
	flex-direction: column; */
	position: relative;
	width: 10%;
}
.checkboxes {
	width: 75%;
	position: relative;
	overflow-y: auto;
}
.ingredients-checkboxes {
	
	
	max-height: 400px;
	overflow-y: auto;
}
/* .buttons-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 0;
} */
.main-buttons {
	display: flex;
	margin-top: 1em;
}
#currently-selected-ingredients-container {
	top: 0;
	display: flex;
}

/* .form-group {
	display: grid;
	grid-gap: 1em;

	margin: 0 auto;
	padding: 0;
	align-items: center;
} */

/* .form-group .alcohol {
	grid-template-columns: repeat(2, 1fr);
}

.form-group .mixers {
	grid-template-columns: repeat(3, 1fr);
}
.form-group .garnishes {
	grid-template-columns: repeat(3, 1fr);
} */

/* .left, .right {
	width: 15%;
}

.middle {
	width: 70%;
} */
/* .next-clear-buttons {
	display: flex;
	flex-direction: column;
	gap: 1em;
}  */



/* ------------------- results.html ------------------- */

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
}
.drink-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
.drink {
	list-style-type: none;
	padding: 0;
	justify-content: space-around;
	background-color: white;
	border-radius: 1em;
}



.drink-name {
	font-size: 1.25em;
	background-color: rgb(170, 249, 255);
	padding: 1em;
	border-radius: 0.5em;
}

.info {
	padding-left: 4em;
}
.sub-heading {
	padding-left: 2em;
}
.change-units {
	display: flex;
	justify-content: space-between;
}

/* .form-group {
	display: inline-block;
	padding-left: 10em;
	justify-content: space-between;
	
} */
#drinks-ready-to-make {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	float: left;
	margin: auto;
}
#drinks-matched_ingredients {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	float: right;
	margin: auto;
}

.ingredient-table {
	td {
		padding: 0.5em;
	}
}

.topnav {
	float: right;
	
}
/* .info-ingredient-list {
	list-style-type: none;
}
.info-ingredient-list .ingredient.matched-ingredient::before {
	content: "\2714";
	color: green;
}
.info-ingredient-list .ingredient.missing-ingredient::before {
	content: ❌;
} */
.matched-ingredient {
	background-color: rgba(32, 220, 32, 0.319);
}

.missing-ingredient {
	background-color: rgba(255, 6, 6, 0.25);
}

