<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <nav>
        <a href="./donate">Donate</a>
        <a href="./about">About</a>
    </nav>
    <body>
        <div class="uk-container">
            <form id="ingredientForm" class="uk-form-stacked">
                <button class="uk-button uk-button-primary" type="button" onclick="findMatchingDrinks()">Find Drinks</button>
            </form>
            <div id="resultContainer" class="uk-margin-top">

            </div>
        </div>

    </body>
    <script src="./assets/js/app.js"></script>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concocto</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1 id="concocto-title">Concocto</h1>
        <nav>
            <a href="/recipes">Recipes</a>
            <a href="/about">About</a>
            <a href="/sign-up">Signup</a>
        </nav>
    </header>
    <div id="app">
        <form action="/find_drinks" method="post" class="form-inline">
            <div class="form-group alcohol">
                <h2 class="sub-heading">Select Alcohol</h2>
                
                <div class="grid-container">
                    <div class="column btns">
                        <button class="button button-primary next" type="button" onclick="showMixers()">&#8594;</button>

                    </div>
                    <div class="column checkboxes">
                        <div class="ingredients-checkboxes">
                            {% for liquor in liquors %}
                                <label><input type="checkbox" name="liquors" onchange="updateSelections('liquors', this)" value="{{ liquor }}">{{ liquor }}</label><br>
                            {% endfor %}
                            <button onclick="displayIngredients()">Liqueurs</button>
                            {% for liqueur in liqueurs %}
                                <label style="display: none;"><input type="checkbox" name="liqueurs" onchange="updateSelections('liqueurs', this)" value="{{ liqueur }}">{{ liqueur }}</label>
                            {% endfor %}   
                        </div>
                    </div>
                    <div class="column btns">
                        <button class="button button-primary next" type="button" onclick="showMixers()">&#8594;</button>
                        <!-- <button class="button button-primary" type="button" onclick="clearSelections('liquors')">Clear</button> -->
                    </div>
                </div>
            </div>
            <div class="form-group mixers" style="display: none;">
                <h2 class="sub-heading">Select Mixers</h2>
                <div class="grid-container">
                    <div class="column btns">
                        <button class="button button-primary" type="button"  onclick="showAlcohols()">&#8592;</button>
                    </div>
                    <div class="column checkboxes">
                        <div class="ingredients-checkboxes">
                            {% for mixer in mixers %}
                                <label><input type="checkbox" name="mixers" onchange="updateSelections('mixers', this)" value="{{ mixer }}">{{ mixer }}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column btns">
                        
                        <button class="button button-primary next" type="button" onclick="showGarnishes()">&#8594;</button>
                        <!-- <button class="button button-primary" type="button" onclick="clearSelections('mixers')">Clear</button> -->
                        
                    </div>
                </div>
                <!-- <div class="back-container">
                    <button class="button button-primary" type="button" onclick="showAlcohols()">&#8592;</button>
                </div>
                <div class="ingredients-checkbox">
                    {% for mixer in mixers %}
                        <label><input type="checkbox" name="mixers" value="{{ mixer }}"> {{ mixer }}</label><br>
                    {% endfor %}
                </div>
                <div class="next-clear-buttons">
                    <button class="button button-primary" type="button" onclick="clearSelections('mixers')">Clear</button>
                    <button class="button button-primary next" type="button" onclick="showGarnishes()">&#8594;</button>
                </div> -->
            </div>
            <div class="form-group garnishes" style="display: none;">
                <h2 class="sub-heading">Select Garnishes</h2>
                <div class="grid-container">
                    <div class="column btns">
                        <button class="button button-primary" type="button" onclick="showMixers()">&#8592;</button>
                    </div>
                    <div class="column checkboxes">
                        <div class="ingredients-checkbox">
                            {% for garnish in garnishes %}
                                <label><input type="checkbox" name="garnishes" onchange="updateSelections('garnishes', this)" value="{{ garnish }}">{{ garnish }}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column btns">
                        <button class="button button-primary" type="button" onclick="clearSelections('garnishes')">Clear</button>                
                    </div>
                </div>
            </div>
            <div class="main-buttons">
                <button class="button button-primary" type="button" onclick="clearAllSelections()">Clear all</button>
                <button class="button button-primary" type="submit">Find Drinks</button>
            </div>
        </form>
        <div class="currently-selected-ingredients-container">
            <h5>Currently Selected Ingredients</h5>
            <div id="currently-selected-ingredients"></div>
        </div>
    </div>
    <footer>
        <p>Have a suggestion? Please send us an email <a href="#">here</a>.</p>
    </footer>
    <script>

        var selectedIngredients = [];
        function updateSelections(category, checkbox) {
            var isChecked = checkbox.checked;
            var value = checkbox.value;

            if (isChecked) {
                selectedIngredients.push(value);
            } else {
                var index = selectedIngredients.indexOf(value);
                if (index !== -1) {
                    selectedIngredients.splice(index, 1);
                }
            }
            displaySelectedIngredients();
        }
        function displaySelectedIngredients() {
            var selectedIngredientsContainer = document.getElementById('currently-selected-ingredients');
            selectedIngredientsContainer.innerHTML = '';

            selectedIngredients.forEach(function(ingredient) {
                var deleteButton = document.createElement('button');
                deleteButton.innerText = 'X';
                deleteButton.className = 'delete-button';
                deleteButton.onclick = function() {
                    removeSelectedIngredient(ingredient);
                };

                var ingredientItem = document.createElement('div');
                ingredientItem.className = 'ingredient-item';
                ingredientItem.innerText = ingredient;
                ingredientItem.appendChild(deleteButton);

                selectedIngredientsContainer.appendChild(ingredientItem);
            });
        }

        function removeSelectedIngredient(ingredient) {
            var index = selectedIngredients.indexOf(ingredient);
            if (index !== -1) {
                selectedIngredients.splice(index, 1);
                displaySelectedIngredients();
            }
        }

        // Function to clear all selections
        function clearAllSelections() {
            selectedIngredients = [];
            displaySelectedIngredients();
        }
        // function updateSelectedIngredients(category, checkbox) {
        //     var selectedIngredients = document.getElementById('currently-selected-ingredients');
        //     var selectedCheckboxes = document.querySelectorAll('input[name="' + category + '"]:checked');
        //     var selectedIngredientsList = "";
        //     selectedCheckboxes.forEach(checkbox => {
        //         selectedIngredientsList += checkbox.value + "<br>";
        //     });
        //     selectedIngredients.innerHTML = selectedIngredientsList;
        // }
        function showAlcohols() {
            document.querySelector('.mixers').style.display = 'none';
            document.querySelector('.garnishes').style.display = 'none';
            document.querySelector('.alcohol').style.display = 'inline';
        }
        function showLiqueurs() {
            document.querySelector('.liqueur').style.display = 'inline';
        }
        function showMixers() {
            document.querySelector('.alcohol').style.display = 'none';
            document.querySelector('.mixers').style.display = 'inline';
            document.querySelector('.garnishes').style.display = 'none';
        }
        function showGarnishes() {
            document.querySelector('.mixers').style.display = 'none';
            document.querySelector('.garnishes').style.display = 'grid';
        }
        function clearSelections(formGroupName) {
            const formGroup = document.querySelector('.' + formGroupName);
            formGroup.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.checked = false;
            });
        }
        function clearAllSelections() {
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.checked = false;
            });
            // maybe ?
            showAlcohols();
        }
    </script>
</body>
</html>
