<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <nav>
        <a href="./donate">Donate</a>
        <a href="./about">About</a>
    </nav>
    <body>
        <div class="uk-container">
            <form id="ingredientForm" class="uk-form-stacked">
                <button class="uk-button uk-button-primary" type="button" onclick="findMatchingDrinks()">Find Drinks</button>
            </form>
            <div id="resultContainer" class="uk-margin-top">

            </div>
        </div>

    </body>
    <script src="./assets/js/app.js"></script>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Recipes</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Drink Recipes</h1>
        <nav>
            <a href="/browse-recipes">Browse Recipes</a>
            <a href="/about">About</a>
            <a href="/sign-up">Signup</a>
        </nav>
    </header>
    <div id="app">
        <form action="/find_drinks" method="post" class="form-inline">
            <div class="form-group alcohol">
                <div>
                    <h2>Select Alcohol</h2>
                    {% for liquor in liquors %}
                        <label><input type="checkbox" name="liquors" value="{{ liquor }}"> {{ liquor }}</label><br>
                    {% endfor %}
                </div>
                <div class="next-clear-buttons">
                    <button class="button button-primary" type="button" onclick="clearSelections('alcohol')">Clear</button>
                    <button class="button button-primary next" type="button" onclick="showMixers()">Next</button>
                </div>
            </div>
            <div class="form-group mixers" style="display: none;">
                <h2>Select Mixers</h2>
                {% for mixer in mixers %}
                    <label><input type="checkbox" name="mixers" value="{{ mixer }}"> {{ mixer }}</label><br>
                {% endfor %}
                <button class="button button-primary" type="button" onclick="showAlcohols()">Back</button>
                <button class="button button-primary" type="button" onclick="clearSelections('mixers')">Clear</button>
                <button class="button button-primary next" type="button" onclick="showGarnishes()">Next</button>
            </div>
            <div class="form-group garnishes" style="display: none;">
                <h2>Select Garnishes</h2>
                {% for garnish in garnishes %}
                    <label><input type="checkbox" name="garnishes" value="{{ garnish }}"> {{ garnish }}</label><br>
                {% endfor %}
                <button class="button button-primary" type="button" onclick="showMixers()">Back</button>
                <button class="button button-primary" type="button" onclick="clearSelections('garnishes')">Clear</button>                
            </div>
            <div class="main-buttons">
                <button class="button button-primary" type="button" onclick="clearAllSelections()">Clear all</button>
                <button class="button button-primary" type="submit">Find Drinks</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Have a suggestion? Please send us an email <a href="#">here</a>.</p>
    </footer>
    <script>
        function showAlcohols() {
            document.querySelector('.mixers').style.display = 'none';
            document.querySelector('.garnishes').style.display = 'none';
            document.querySelector('.alcohol').style.display = 'grid';
        }
        function showMixers() {
            document.querySelector('.alcohol').style.display = 'none';
            document.querySelector('.mixers').style.display = 'block';
            document.querySelector('.garnishes').style.display = 'none';
        }
        function showGarnishes() {
            document.querySelector('.mixers').style.display = 'none';
            document.querySelector('.garnishes').style.display = 'block';
        }
        function clearSelections(formGroupName) {
            const formGroup = document.querySelector('.' + formGroupName);
            formGroup.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.checked = false;
            });
        }
        function clearAllSelections() {
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.checked = false;
            });
            // maybe ?
            showAlcohols();
        }
    </script>
</body>
</html>
